# Ambiente Virtuale
DDSE_project.venv/

# File Temporanei Python
__pycache__/
*.pyc
*.pyo

# File di Log
*.log
*.out
*.err

# Configurazioni Editor
.vscode/
!.vscode/settings.json

# File di Sistema
.DS_Store
Thumbs.db

# Cache Pytest
.pytest_cache/